{{ define "main" }}
<section class="main">
    <div class="">
        <img src="/images/logo.png" alt="logo" class="logo">
    </div>
    <div class="text__wrapper">
        <h1 class="title">{{ .Site.Data.about.title }}</h1>
        <p class="description">{{ .Site.Data.about.description }}</p>
        <a class="social__icon"
            href="https://www.google.com/maps/place/The+Fries+Kingdom/@12.9172697,77.4999853,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae3f1538f17511:0xe42730cb73a88158!8m2!3d12.9172697!4d77.4999853?hl=en-IN">
            <p>
                <svg style="vertical-align: middle; margin-right: 8px;" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                    <circle cx="12" cy="10" r="3"></circle>
                </svg>
                No 01, Mylsandra, Kengeri, Bengaluru, Karnataka 560060.
            </p>
        </a>

        <div class="social__icon">
            <h3>Follow us</h3>
            <a href="">
                <svg style="color: #FFF;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
            </a>
        </div>
    </div>
</section>
{{ end }}